# IDEs
.idea
*.DS_Store

# NODE
node-sdk/dist
node-sdk/coverage
node-sdk/node_modules

node-sdk/.yarn/*
node-sdk/!.yarn/patches
node-sdk/!.yarn/releases
node-sdk/!.yarn/plugins
node-sdk/!.yarn/sdks
node-sdk/!.yarn/versions
node-sdk/.pnp.*

# PHP
php-sdk/vendor
php-sdk/var

# PIPES
.env
*/docker-compose.mutagen.yml
docker-compose.mutagen.yml
topology/*
!topology/.gitkeep
