# IDEs
.idea
*.DS_Store

# NODE
node-sdk/dist
node-sdk/coverage
node-sdk/node_modules

node-sdk/.pnpm-store

# PHP
php-sdk/vendor
php-sdk/var

# PIPES
.env
*/docker-compose.mutagen.yml
docker-compose.mutagen.yml
topology/*
!topology/.gitkeep
